.search-videos-input {
    border-radius: 100px;
    border-style: none;
    background-color: rgb(244, 244, 244);
    padding: 20px 34px;
    color: rgb(80, 80, 80);
    border-radius: 100px 0px 0px 100px;
    width: 40%;
    min-width: 300px;
    font-size: 18px;
}

.search-videos-input::placeholder {
    color: rgb(157, 157, 157);
}

input:focus {
    outline: none;
}

.search-btn {
    border: none;
    background-color: rgb(46, 95, 216);
    padding: 15px 25px 15px 15px;
    border-radius: 0px 40px 40px 0px;
    margin-left: -10px;
}

.search-img {
    width: 20px;
    height: 20px;
}

.header-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.category-img {
    width: 60px;
    height: 60px;

}

.category-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    transition: transform 0.15s ease-in-out;
}

.category-div:hover {
    transform: scale(1.2);
}

.category-desc-span {
    color: rgb(217, 10, 23);
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 10px;
}

.categories-div {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

.videos-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 8%;
    margin-right: 8%;
}

.video-div:hover {
    transform: scale(1.05);
}

.video-img {
    width: 100%;
}

.video-div {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.15s ease-in-out;
}

.video-title-p {
    padding: 12px 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    flex: 1;
}

.video-duration-span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: black;
    padding: 3px;
}

.image-time-video-div {
    position: relative;
}

.video-options-img {
    width: 20px;
    height: 20px;
}

.title-button-video-div {
    display: flex;
    align-items: center;
}

.video-options-btn {
    border: none;
    background-color: transparent;
    padding: 10px;
}

.mobile-menu-icon {
    width: 30px;
    height: 30px;
}

.mobile-menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.menu-btn {
    display: none;
}


@media only screen and (max-width: 600px) {
    .videos-div {
        grid-template-columns: 1fr;
        column-gap: 0;
        margin-top: 20px;
    }
    .categories-div {
        position: absolute;
        top: 40px;
        transform: scale(0);
        z-index: 120;
        flex-direction: column;
        gap: 40px;
        background-color: white;
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }

    .categories-div.open {
        transform: scale(1);
    }

    .search-videos-input {
        min-width: 0px;
        flex: 1;
    }

    .menu-btn {
        display: block;
    }

}

@media only screen and (min-width: 600px) {
    .videos-div {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) {
    .videos-div {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 992px) {
    .videos-div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    .videos-div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}




