.container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 16px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(246, 247, 252)
}

.register-form input {
    margin-right: 15px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px 12px;
}

.register-form input:focus {
    outline: none;
}

.full-row-div {
    display: flex;
    align-items: center;
    margin-right: 15px;
    gap: 5px;
    margin-bottom: 10px;
}

.full-row-div input {
    flex: 1;
    margin: 0;
}

.register-form label {
    font-size: 12px;
}

.register-form input[type="submit"] {
    background-color: orange;
    color: white;
}

.register-form input:invalid {
    border: 1px solid;
    border-color: red;
}

