:root {
  --primary-color: rgb(190, 50, 121);
  --primary: calc(16rem/16);
  --2px: calc(2rem/16);
}

/* html {
  font-size: 0.625rem;
} */

/* General pagination container */
.pagination-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Pagination links */
  .pagination-div a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-size: var(--2px);
  }
  
  /* Active page */
  .pagination-div a.active {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
  }
  
  /* Hover effect */
  .pagination-div a:hover:not(.active) {
    background-color: #f1f1f1;
    color: var(--primary-color);
  }