.product_image {
    width: 200px;
    object-fit: fill;
}

.container_div {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.cart_item_div {
    margin-top: 10px;
    border: 1px solid rgb(175, 175, 175);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.total_price_p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: right;
    padding: 10px;
}

.total_price_p span {
    font-weight: 600;
}

.item_description_div {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;

}

.price_span {
    color: rgb(73, 73, 73);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.delete_image {
    width: 20px;
    object-fit: fill;
}

.delete_item_link {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 10px;
    padding: 0;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: 600;
}

.delete_item_link:hover {
    color: red;
}

.add_address_link {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: rgb(128, 23, 21);
    font-weight: 600;
    float: right;
    margin-right: 10px;
    text-decoration: none;
}