:root {
    --primaryColor: rgb(76, 76, 255);
    --2px: calc(2rem/16);
    --16px: calc(16rem/16);
}

.pagination-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
 
.pagination-div a {
    color: var(--primaryColor);
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid var(--primaryColor);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-size: var(--16px);
}

.pagination-div a.active {
    background-color: var(--primaryColor);
    color: #fff;
    border-color: var(--primaryColor);
  }

  .pagination-div a:hover:not(.active) {
    background-color: #f1f1f1;
    color: var(--primaryColor);
  }

  p {
    font-size: 1.8rem;
  }