.form-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.login-form>div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login-form input[type="text"],
input[type="password"],
input[type="email"] {
    flex: 1;
    background-color: rgb(238, 238, 238);
    border: none;
    padding: 6px 10px;

}

.login-form input:focus {
    outline: none;
}

.login-form input[type="submit"] {
    align-self: center;
    border: none;
    padding: 6px 40px;
    background-color: rgb(86, 86, 248);
    color: white;
    text-transform: uppercase;
    font-size: 11px;
}

.login-form input[type="submit"]:active {
    opacity: 0.8;
}